.k1-search-form {
  font-size: 0
  position: relative
  border: 1px solid #ccc

  input[type="search"] {
    height: r(50px)
    width: calc(100% - 50px)
    line-height: @height
    font-size: fs.p
    display: inline-block
    margin-right: r(50px)
    border: 0
    padding: 0 r(10px)
  }

  button[type="submit"] {
    height: r(50px)
    width: r(50px)

    background: none
    outline: 0
    border: 0
    padding: r(5px)
    border-left: 1px solid #ccc
    display: inline-block
    position: absolute
    top: 0
    right: 0

    .k1-svg {
      // max-width: r(35px)
      // max-width: initial
      // width: auto
      // height: r(50px)
    }
  }
}
