/**
 * It's OK to define both object-fit and background-size
 */
.k1-bgsize {
  &--contain {
    object-fit: contain
    background-size: contain
  }

  &--cover {
    object-fit: cover
    background-size: cover
  }
}


.k1-bp {
  for point in bp {
    &--hide-{point} {
      hideForBP(point)
    }
  }
}
