/**
 * px => rem mixin
 */
r(value) {
  u = unit(value);

  if (u is 'px') {
    return unit(value/16, 'rem')
  } else {
    return unit(value, u)
  }
}

altColour(colour) {
  if (dark(colour)) {
    return lighten(colour, 20%)
  } else {
    return darken(colour, 20%)
  }
}

@import 'mixins/generate-schemes'
@import 'mixins/generate-positions'
@import 'mixins/sr-text'
@import 'mixins/media'
@import 'mixins/whitespace'
