colours = json('../../colours.json', { hash: true })
schemes = json('../../schemes.json', { hash: true })
bp = json('../../breakpoints.json', { hash: true })

font = {
  primary: unquote("'Source Sans Pro', sans-serif"),
  secondary: unquote("Montserrat, sans-serif"),
}

// Short for font-size
fs = {
  h1: r(50px),
  h2: r(40px),
  h3: r(35px),
  h4: r(30px),
  h5: r(25px),
  h6: r(20px),
  p: r(18px),

  // add more as necessary
}

// Short for whitespace, used for paddings and margins, and by mixins
ws = {
  center: {
    left: auto
    right: auto
  }

  element: {
    top: r(20px)
    bottom: r(20px)
  }

  section: {
    top: r(50px)
    bottom: r(75px)
  }

  container: {
    left: r(20px)
    right: r(20px)
  }
}

width = {
  block: {
    default: r(800px)
    wide: r(1200px)
    full: 100%
  }
}
