html {
  box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit
}

img {
  max-width: 100%
  height: auto
  vertical-align: middle // Removes gap from bottom when used in links and such
}

.wp-caption {
  width: auto !important // Why does WP put inline styles?
}
