.k1-header {
  &__beforeMenu {
    display: flex
    flex-flow: row wrap
    justify-content: space-between
    align-items: center
    whitespace('padding', ws.section)

    +forPhone() {
      flex-flow: column wrap
      align-items: stretch
      whitespace('padding', ws.section, '/ 2')

      .custom-logo-link {
        display: block
        text-align: center
        whitespace('margin', ws.element)
        margin-top: 0
      }
    }
  }

}

.k1-navigation {
  ul {
    margin: 0
    padding: 0
    list-style: none
  }

  > .k1-container {
    overflow: visible

    +forTablet() {
      whitespace('padding', ws.element)
    }
  }
}

.k1-menu {
  position: relative
  display: block
  font-size: 0
  z-index: 1

  .menu-item {
    display: inline-block
    font-size: fs.p
    position: relative
    z-index: 2
    white-space: nowrap
    vertical-align: text-top

    > a {
      padding: r(5px) r(15px)
      display: block
      overflow: hidden // Clear possible floats within the link
    }

    +forTablet() {
      display: block
    }
  }

  .sub-menu {
    display: none
    position: absolute
    top: 100%
    z-index: 3
    max-width: r(200px)
    min-width: 100%

    .menu-item {
      display: block
      white-space: initial

      > .sub-menu {
        top: 0
        left: 100%
      }
    }

    +forTablet() {
      padding: 0 r(20px)
      position: static
    }
  }

  .menu-item-has-children {
    > a {
      // The pseudoelement is used to avoid visible content reflows before
      // JS has kicked in and the menu is inialized.
      &:after {
        content: '+'
        font-size: r(20px)
        display: inline-block
        font-family: monospace
        float: right
        text-align: center
        width: r(30px)
        margin-left: r(5px)
      }

      // After the menu item has initialized, hide the pseudoelement.
      &.k1-initialized {
        &:after {
          display: none
        }
      }

      // Newly created toggle element uses mostly same styles with the pseudoelement.
      .k1-menu__toggle {
        float: right
        margin-left: r(5px)

        &:after {
          content: '+'
          font-size: r(20px)
          display: inline-block
          font-family: monospace
          text-align: center
          width: r(30px)
        }
      }
    }

    &:focus-within, // Note that this line breaks IE11
    &:hover,
    &.open {
      > .sub-menu {
        display: block
      }

      > a {
        .k1-menu__toggle:after,
        &:after {
          content: '\d7'
        }
      }
    }
  }
}
