.edit-post-visual-editor .editor-block-list__block {
  @import '../common/typography'
  // text-align: center

  // SVGs break a bit. Unset their styles.
  svg:not(:root) {
    width: initial
    height: initial
  }

  // Position field
  .acf-field-5d1655410669e {
    .acf-button-group {
      display: flex
      flex-wrap: wrap
    }

    .acf-button-group label {
      flex-basis: 33%
      border-radius: 0 !important
    }
  }
}

// hide font-size selection
// remove this if you want to allow user selected font sizes
.components-panel__body.blocks-font-size .components-base-control:first-of-type {
  display: none
}

// editor title
.editor-post-title__block .editor-post-title__input {
  font-family: font.secondary
  min-height: auto
  text-align: center
}

// main column width
:root body.block-editor-page .editor-post-title__block,
:root body.block-editor-page .editor-default-block-appender,
:root body.block-editor-page .editor-block-list__block {
  max-width: width.block.default
}

// width of "wide" blocks
:root body.block-editor-page .editor-block-list__block[data-align="wide"] {
  max-width: width.block.wide
}

// width of "full-wide" blocks
:root body.block-editor-page .editor-block-list__block[data-align="full"] {
  max-width: width.block.full
  whitespace('margin', ws.center)
}
