.edit-post-visual-editor .editor-post-title,
.edit-post-visual-editor .editor-block-list__block {
	// max-width:	1100px;
  max-width: 100%;

  // Position field
  .acf-field-5d1655410669e {
    .acf-button-group {
      display: flex
      flex-wrap: wrap
    }

    .acf-button-group label {
      flex-basis: 33%
      border-radius: 0 !important
    }
  }

  @import '../common/typography'

  // In the frontend, paragraphs and other text content is
  // wrapped in a div like .k1-tinymce. That luxury is not available in the admin,
  // so we have to resort to this.
  // If even this worked.
  // I don't care enough to fix that now.
  // .components-autocomplete {
  //   > p,
  //   > ol,
  //   > ul, {
  //     margin-left: auto
  //     margin-right: auto
  //   }
  // }
}
