.k1-section {
  min-height: 1px;
  clear: both;
  // min-height: 50vh;

  &--width-100 {
    width: 100%
  }

  &--width-75 {
    width: 75%
  }

  &--width-50 {
    width: 50%
  }

  &--align-center {
    margin-left: auto
    margin-right: auto
    text-align: center
  }

  &--align-left {
    margin-right: auto
    text-align: left
  }

  &--align-right {
    margin-left: auto
    text-align: right
  }

  &--colourscheme-default {
    background: #fff
    color: #000

    > * {
      color: inherit
    }
  }

  &--colourscheme-black {
    background: #000
    color: #f1f1f1

    > * {
      color: inherit
    }
  }

  &--colourscheme-gray {
    background: #222
    color: #f1f1f1

    > * {
      color: inherit
    }
  }
}

.wp-admin {
  .k1-section {
    width: 100% !important
    border: 1px solid #222;
    min-height: 100px;

    transform: translateY(-100px);
  }
}
