.k1-hero {
  padding-top: ws.sectionTop
  padding-bottom: ws.sectionBottom - r(35px)
  position: relative
  overflow: hidden
  min-height: 50vh
  display: flex
  flex-flow: row nowrap

  .k1-container {
    display: flex
    flex-flow: row nowrap
  }

  .k1-bgmedia {
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 1
  }

  &__content {
    position: relative
    z-index: 2
  }
}

generatePositions('.k1-hero .k1-container', 'flex')
